<h1>New Category</h1>


<%= form_for :group, url: groups_path, method: :post do |form|  %>
  <div class='category_form'>
    <%= form.text_field :name, class: 'category_form_field category_name_field', placeholder: 'Category Name' %>
    Insert icon  <%= form.file_field :icon %>
    <%= form.submit "Submit", class: 'category_form_field category_form_btn' %>
  </div>
<% end %>
<br>

<div>
  <%= link_to "Back to groups", groups_path %>
</div>
